.idea
__pycache__
samples/*
.cache

#ScHiFoTeX
*.aux
*.log
*.out
*.pdf
*.gz
*.toc
*.lof
*.fls
*.bbl
*.blg
*.fdb_latexmk
doc/report.blg

# sus
plagiarized_paper_diagram.pdf
plagiarized_paper_graph.pdf

### VS Code ###
.vscode/
